.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.carouselBox {
  width: 800px;
  height: 400px;
  border-radius: 1rem;
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  /* box-sizing: border-box; Ensure padding is included in the total width and height */
}

.carouselImg, .carouselVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .5rem;
}

.carouselArrow {
  font-size: 50px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .carouselBox {
    width: 200px;
    height: 100px;
    padding-top: 0.5rem; /* Adjust top padding for smaller screens */
    padding-bottom: 0.5rem; /* Adjust bottom padding for smaller screens */
  }

  .carouselArrow {
    font-size: 30px;
  }
}
